.pokemoninfo-container {
    position: absolute;
    background: #ebebeb;
    padding: 10px;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 10;
    width: 124%;
    left: -12%;
    border: 1px solid black;
}

.pokemoninfo-data {
    padding: 0;
}

.pokemoninfo-type-relations {
    text-align: center;
    padding: 0 10px;
}

.pokemoninfo-visible {
    opacity: 1;
    visibility: visible;
}

.pokemoninfo-hidden {
    opacity: 0;
    visibility: hidden;
}

.center {
    text-align: center;
    padding-left: 10px;
}